{% extends 'layout.html' %}

{% block body %}
<div class="container">
  <div class="table-responsive ">
    <table class="table table-striped">
      <thead>
        <tr>
          {% for col in data.columns %}
          <th>{{ col }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
          {% for row in data.iterrows() %}
          <tr>
            <tr>
              {% for col in row[1].iteritems() %}
              <td>{{ col[1] }}</td>
              {% endfor %}
            </tr>
          </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
  {{ pagination.links }}
</div>

{% endblock %}